<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../5_vue事件/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- vue-app是根容器 -->
    <div id="vue-app">
        <h1> 双向数据绑定 / input / select / textarea </h1>

        <label>姓名</label>
        <!-- 方式1:ref标签可以拿到当前input标签输入的值 -->
        <!-- <input ref="name" type="text" v-on:keyup="logname">
        <span>{{name}}</span> -->

        <!-- 方式2:v-model指令：双向数据绑定 -->
        <!-- v-model="",绑定的是定义的变量名 -->
        <!-- 工作原理：
            1. 先绑定app.js中的声明的属性
            2. 引用属性值{{name}} -->
        <input ref="name" type="text" v-model="name">
        <span>{{name}}</span>


        <label>年龄</label>
        <input ref="age" type="text" v-model="age">
        <span>{{age}}</span>
    </div>
    <script src="../8_vue数据双向绑定/app.js"></script>
</body>


</html>