<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../11_vue指令v-if/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- v ue-app是根容器 -->
    <div id="vue-app">
        <h1>v-for 循环</h1>
        <!-- 方式一：通过数组下标取值 -->
        {{characters[0]}} {{characters[1]}} {{characters[2]}}

        <!-- 方式二：数组遍历 -->
        <ul>
            <li v-for="y in characters">
                {{y}}
            </li>
        </ul>

        <!-- (元素,下标) -->
        <!-- 元素.属性 -->
        <li v-for="(user,index) in users">
            {{index+1}}. {{user.name}} - {{user.age}}
        </li>

        <!-- template不会被渲染到dom上面 -->
        <template v-for="(user,index) in users">
            <h3>{{index}}.{{user.name}}</h3>
            <p>Age - {{user.age}}</p>
        </template>

        <!-- 遍历对象，打印key和value -->
        <template v-for="(user,index) in users">
            <div v-for="(val,key) in user">
                <p>{{key}} - {{val}}</p>
            </div>
        </template>

    </div>
    <script src="../12_vue指令v-for/app.js"></script>
</body>

</html>